@keyframes inFromBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes inFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes inFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes flash {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes navLinks {
  0% {
    opacity: 0;
    height: 100vh;
    width: 100%;
  }
  100% {
    opacity: 1;
    height: 100vh;
    width: 100%;
  }
}
*,
*::after,
*::before {
  margin: 0;
  box-sizing: inherit;
  padding: 0;
}

html {
  font-size: 62.5%;
  width: 100vw;
}

body {
  box-sizing: border-box;
  background-color: #eee;
  border-top: 0;
  border-bottom: 0;
}

body {
  width: 100%;
  text-align: left;
  font-family: "work sans", sans-serif;
  font-size: 2.5rem;
}

.large-text {
  font-size: 5rem;
}

h2 {
  font-size: 2.3rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.u-center-text {
  text-align: center;
}

.u-display-flex {
  display: flex;
}

.u-margin-top-sm {
  margin-top: 3rem;
}

.u-margin-top-md {
  margin-top: 8rem;
}

.u-margin-top-lg {
  margin-top: 16rem;
}

.u-margin-top-xl {
  margin-top: 32rem;
}

.u-margin-bottom-sm {
  margin-bottom: 3rem;
}

.u-margin-bottom-md {
  margin-bottom: 8rem;
}

.u-margin-bottom-lg {
  margin-bottom: 16rem;
}

.u-margin-sm {
  margin: 1rem;
}

.u-marginX-md {
  margin-left: 2rem;
  margin-right: 2rem;
}

.u-marginX-lg {
  margin-left: 5rem;
  margin-right: 5rem;
}

.u-padding-sm {
  padding: 1rem;
}

.u-padding-top-lg {
  padding-top: 16rem;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.3);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.7);
}
.btn--slide-in {
  animation: inFromBottom 1s ease-in 0.7s;
  animation-fill-mode: backwards;
  backface-visibility: hidden;
}

.btn--splash:hover::after {
  animation: flash 0.4s;
  animation-fill-mode: backwards;
  backface-visibility: hidden;
}
.btn--splash::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 5rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transition: all 0.4s ease;
  animation-fill-mode: backwards;
  backface-visibility: hidden;
}

.btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 2rem;
  font-size: 2rem;
  padding: 1.1rem 3rem;
  border-radius: 5rem;
  position: relative;
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}

.btn-text-primary:link, .btn-text-primary:visited {
  color: #12810a;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #12810a;
  padding: 3px;
  border-radius: 0.5rem;
  transition: all 0.4s;
}
.btn-text-primary:hover {
  background-color: #12810a;
  color: #fff;
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 100%;
  min-width: 24rem;
  width: 75%;
}
.card__text {
  padding: 1rem;
}
.card__side {
  background-color: #d4d4d4;
  color: black;
  font-size: 2rem;
  overflow: hidden;
  height: 40rem;
  width: 100%;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 5rem;
  backface-visibility: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.324);
}
.card__side--front {
  background-color: #d4d4d4;
  left: 50px;
}
.card__side--front--pic {
  height: 20rem;
  background-image: url("../images/YelpCamp.png");
  background-size: cover;
  background-position: top;
}
.card__side--back {
  background-color: #d4d4d4;
  transform: rotateY(180deg);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0deg);
}

.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.444);
  border-radius: 1rem;
  position: absolute;
  transition: all 0.2s;
  outline-offset: 2rem;
}
.composition__photo--p1 {
  left: 0;
  top: -2rem;
}
.composition__photo--p2 {
  right: 0rem;
  top: 2rem;
}
.composition__photo--p3 {
  left: 20%;
  top: 10rem;
}
.composition__photo:hover {
  transform: scale(1.5);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.477);
  z-index: 10;
  outline: solid 2rem #1fa9ff;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.8);
}

.feature-box {
  background-color: #d4d4d4;
  font-size: 1.3rem;
  padding: 3.5rem;
  text-align: center;
  border-radius: 0.3rem;
  min-width: 30rem;
  height: 30rem;
  margin-bottom: 12rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.674);
  transition: all 0.3s;
}
.feature-box__icon {
  max-height: 8rem;
}
.feature-box__text--heading {
  font-size: 2.4rem;
}
.feature-box:hover {
  transform: scale(1.13);
}

.signup {
  background-color: #d4d4d4;
  border-radius: 3px;
  box-shadow: 0 2.4rem 3.4rem rgba(0, 0, 0, 0.485);
  min-width: 1rem;
  width: 40%;
}
.signup__form {
  width: 100%;
  padding: 6rem;
  margin: auto;
  display: flex;
}
.signup__form--input-label {
  min-width: 7rem;
  width: 80%;
  display: inline-block;
  margin-right: 1rem;
}
.signup__form--input-text {
  min-width: 8rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  width: 100%;
  height: 3rem;
  display: inline-block;
}

.signup {
  background-color: #d4d4d4;
  border-radius: 3px;
  box-shadow: 0 2.4rem 3.4rem rgba(0, 0, 0, 0.485);
  min-width: 1rem;
  width: 40%;
}
.signup__form {
  width: 100%;
  padding: 6rem;
  margin: auto;
  display: flex;
}
.signup__form--input-label {
  min-width: 7rem;
  width: 80%;
  display: inline-block;
  margin-right: 1rem;
}
.signup__form--input-text {
  min-width: 8rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  width: 100%;
  height: 3rem;
  display: inline-block;
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 100%;
  min-width: 24rem;
  width: 75%;
}
.card__text {
  padding: 1rem;
}
.card__side {
  background-color: #d4d4d4;
  color: black;
  font-size: 2rem;
  overflow: hidden;
  height: 40rem;
  width: 100%;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 5rem;
  backface-visibility: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.324);
}
.card__side--front {
  background-color: #d4d4d4;
  left: 50px;
}
.card__side--front--pic {
  height: 20rem;
  background-image: url("../images/YelpCamp.png");
  background-size: cover;
  background-position: top;
}
.card__side--back {
  background-color: #d4d4d4;
  transform: rotateY(180deg);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0deg);
}

.footer {
  height: 20rem;
  background-color: #3c3c3c;
  width: 100vw;
}
.footer-box {
  width: 33%;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: left;
  padding-bottom: 3rem;
  padding-top: 3rem;
  color: rgb(131, 115, 115);
  display: flex;
}
.footer-item {
  display: inline-block;
  padding-right: 3rem;
  color: rgb(131, 115, 115);
}
.footer__copyright {
  color: gray;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.3rem;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 0px;
}

.rowfloat {
  max-width: 130rem;
  margin: auto;
}
.rowfloat:not(:last-child) {
  margin-bottom: 8rem;
}
.rowfloat [class^=col-] {
  float: left;
}
.rowfloat [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
.rowfloat::after {
  content: "";
  display: table;
  clear: both;
}
.rowfloat .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.flcol-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.flcol-2-of-3 {
  width: calc(2*((100% - 2* 6rem)/3) + 6rem);
}

.flcol-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.flcol-2-of-4 {
  width: calc(2*((100% - 3* 6rem)/4) + 6rem);
}

.flcol-3-of-4 {
  width: calc(3 * (100% - 3* 6rem) / 4 + (6rem * 2));
}

.flcol-4-of-4 {
  width: calc(4*((100% - 1* 6rem)/4) + 6rem);
}

.row {
  display: flex;
  flex-direction: row;
  max-width: 130rem;
  margin: auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.col-2-of-3 {
  width: calc(2*((100% - 2* 6rem)/3) + 6rem);
}

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.col-2-of-4 {
  width: calc(2*((100% - 3* 6rem)/4) + 6rem);
}

.col-3-of-4 {
  width: calc(3 * (100% - 3* 6rem) / 4 + (6rem * 2));
}

.col-4-of-4 {
  width: calc(4*((100% - 1* 6rem)/4) + 6rem);
}

.col-1-of-5 {
  width: calc((100% - 4 * 6rem) / 5);
}

.col-2-of-5 {
  width: calc(2*((100% - 2* 6rem)/3) + 6rem);
}

.col-3-of-5 {
  width: calc(3 * (100% - 3* 6rem) / 4 + (6rem * 2));
}

.col-4-of-5 {
  width: calc(4*((100% - 1* 6rem)/4) + 6rem);
}

.header {
  height: 125vh;
  background-image: linear-gradient(to right bottom, rgba(115, 117, 131, 0.442), rgba(42, 14, 127, 0.401)), url("grassyhill.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0%, 100% 0, 100% 85%, 0 100%);
  width: 100vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.header__logo-box {
  position: absolute;
  top: 5rem;
  left: 5rem;
}
.header__logo {
  height: 6rem;
}
.header__name {
  display: block;
  font-family: "Lobster", sans-serif;
  font-size: 12rem;
  animation: inFromLeft 1s ease-out;
  backface-visibility: hidden;
  display: inline-block;
  background-image: linear-gradient(to right, red, blue);
  -webkit-background-clip: text;
  color: transparent;
}
.header__job {
  display: block;
  font-size: 5rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  animation: inFromRight 1s ease-out;
  backface-visibility: hidden;
  animation-fill-mode: backwards;
}
.header__self-box {
  height: 20rem;
}
.header__selfie {
  height: 100%;
}
.header__intro {
  height: 25vh;
}

.navigation #themes {
  color: white;
  font-size: 6rem;
  margin-top: 3rem;
  border-bottom: 2px solid #fff;
  display: inline-block;
  margin: 6rem auto 3rem auto;
  justify-content: center;
  align-items: center;
}
.navigation__checkbox {
  display: none;
}
.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1.3rem 3.2rem rgba(0, 0, 0, 0.419);
  cursor: pointer;
}
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#6075a1, #6075a1, #6075a1 50%);
  z-index: 1000;
  transition: transform 0.8s;
}
.navigation__nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  height: 0;
  width: 0;
}
.navigation__list {
  list-style: none;
  text-align: center;
}
.navigation__item {
  margin: 4rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent, transparent 50%, #fff 50%);
  background-size: 230%;
  transition: all 0.5s ease;
  border-radius: 2px;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: black;
  transform: translateX(1rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(300);
}
.navigation__checkbox:checked ~ .navigation__nav {
  animation: navLinks 1s ease-out;
  backface-visibility: hidden;
  animation-fill-mode: backwards;
  opacity: 100%;
  width: 100%;
  height: 100vh;
}
.navigation__icon {
  position: relative;
  margin: 3.3rem 2.2rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: rgb(105, 103, 103);
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  transform: rotate(45deg);
  margin-top: 0.9rem;
  top: -0.8rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  transform: rotate(-45deg);
  margin-top: -0.7rem;
  top: 0.8rem;
}

.contact {
  height: 80vh;
  background-color: #72ae72;
  display: flex;
}
.contact-box {
  width: 33%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

@media (max-width: 48em) {
  .u-margin-top-lg {
    margin-top: 8rem;
  }

  html {
    font-size: 50%;
  }

  body {
    text-align: center;
  }

  main {
    width: 100vw;
  }

  section {
    width: 100%;
    text-align: center;
  }

  .header {
    width: 100vw;
  }

  .profile {
    font-size: 2rem;
    text-align: center;
  }
  .profile h2 {
    width: 100vw;
    text-align: center;
  }
  .profile p {
    width: 100vw;
    text-align: center;
  }

  .composition {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0 0 8rem;
  }
  .composition__photo {
    width: 55%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .composition__photo--p1 {
    left: 25%;
    top: -5rem;
  }
  .composition__photo--p2 {
    left: 25%;
    top: 0rem;
  }
  .composition__photo--p3 {
    left: 25%;
    top: 5rem;
  }

  .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: 23rem;
  }
  .skills .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 19rem;
    margin-top: 21rem;
    width: 50%;
  }
  .skills .row [class^=col-]:not(:last-child) {
    margin-right: 0rem;
    margin: 7rem;
  }
  .skills--wrapper {
    width: 25rem;
    display: flex;
    flex-direction: row;
    padding-top: 25rem;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: -40rem 0 13rem 18rem;
  }

  .feature-box {
    font-size: 1.7rem;
    padding: 5.5rem;
    min-width: 26rem;
    height: 40rem;
    margin-bottom: 12rem;
  }

  .content .content-box .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto 0 auto 0;
    height: 65rem;
  }

  .content {
    margin-bottom: 45rem;
  }
  .content .content-box {
    height: 100%;
  }
  .content .content-box .card {
    margin-top: 50rem;
    margin-left: -12rem;
  }
  .content .content-box .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .content .row [class^=col-]:not(:last-child) {
    margin-right: 0rem;
  }

  .card .lg-col-2-of-4 {
    margin-top: -8rem;
    margin-bottom: 2rem;
  }

  .contact {
    height: 25vh;
  }

  .contact-box {
    width: 100%;
    height: 1rem;
  }

  .footer {
    height: 1 rem;
    width: 100vw;
  }
  .footer .footer-box {
    width: 50%;
  }
  .footer .footer-box .footer-item {
    font-size: 1rem;
  }
  .footer #themes {
    margin-top: -16rem;
  }
}
@media (min-height: 52sem) {
  .content {
    margin-bottom: 10rem;
  }
}
@media (max-width: 87.5em) {
  html {
    font-size: 35%;
  }

  .header__name {
    font-size: 17rem;
  }
  .header__job {
    font-size: 5rem;
  }
  .header__self-box {
    height: 40rem;
  }
}
.profile {
  background-color: #eee;
  color: #000;
  width: 100vw;
  z-index: 0;
}
.profile-box {
  text-align: left;
}
.profile h2 {
  width: 100%;
}
.profile p {
  width: 100%;
}

.skills {
  position: relative;
  background-color: #72ae72;
  clip-path: polygon(0 17vh, 100% 0%, 100% 100%, 0 100%);
  display: block;
  z-index: 0;
  width: 100vw;
  padding: 33rem 0;
}
.skills-box {
  width: 33%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.content {
  margin-top: 5rem;
  position: relative;
  background-color: #eee;
  color: #000;
  min-height: 100vh;
  margin-right: 10rem;
  display: block;
  z-index: 0;
  width: 100vw;
}
.content-box {
  position: relative;
  height: 100%;
}
.content-box .card {
  height: 100%;
  margin-top: 10rem;
}

/*# sourceMappingURL=styles.css.map */
