$color-primary: rgba(18, 129, 10, 0.713);

*,
*::after,
*::before {
    margin: 0;
    box-sizing: inherit;
    padding: 0;
}

html {
    font-size: 50%;
}

body {
    background-image: linear-gradient(to bottom right, rgba(133, 147, 131, 0.713), $color-primary);
    width: 100%;
    text-align: left;
    font-family: "work sans", sans-serif;
    font-size: 2.5rem;
    box-sizing: border-box;
}

h2 {
    font-size: 2.3rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;

}





.header {
    height: 95vh;
    background-image:
        linear-gradient(to right bottom, rgba(115, 117, 131, 0.442), rgba(42, 14, 127, 0.401)),
        url("grassyhill.jpg");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 90vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__logo-box {
        position: absolute;
        top: 3rem;
        left: 3rem;
    }

    &__logo {
        height: 9rem;
    }

    &__name {
        display: block;
        font-family: "Lobster", sans-serif;
        font-size: 6rem;
        animation: inFromLeft 1s ease-out;
        backface-visibility: hidden;

    }

    &__job {
        display: block;
        font-size: 4rem;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 700;
        animation: inFromRight 1s ease-out;
        backface-visibility: hidden;
        animation-fill-mode: backwards;
    }

    &__self-box {
        height: 25vh
    }

    &__selfie {
        height: 100%;
    }

    &__intro {
        height: 25vh;
    }
}




.profile {
    height: 70vh;
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 90vh);
    display: flex;

    &-box {
        width: 33%;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
}



.skills {
    height: 95vh;
    background-image: linear-gradient(to bottom right, rgba(78, 178, 255, 0.713), rgba(85, 0, 255, 0.489));
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 9%, 100% 80%, 0 100%);
    display: flex;

    &-box {
        width: 33%;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
}



.content {
    height: 75vh;

    display: flex;

    &-box {
        width: 33%;
        justify-content: center;
        align-items: center;
        margin: auto;
    }



}

.contact {
    height: 75vh;
    background-image: linear-gradient(to bottom right, rgba(78, 178, 255, 0.713), rgba(85, 0, 255, 0.489));
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
    display: flex;

    &-box {
        height: 95vh;
        height: 33%;
        width: 33%;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
}



.footer {
    height: 20rem;
    background-color: rgb(60, 60, 60);

    &-box {
        margin: auto;
        width: 35%;
        justify-content: center;
        text-align: left;
        padding-bottom: 30px;
        padding-top: 30px;
        color: rgb(131, 115, 115);
        display: flex;
    }

    &-item {
        display: inline-block;
        padding-right: 30px;
        color: rgb(131, 115, 115);
    }

    &__copyright {
        color: gray;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.3rem;
        text-align: center;
        padding-top: 5rem;
        padding-bottom: 0px;
    }

}

.btn {

    &:link,
    &:visited {
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        margin-top: 2rem;
        padding: 1.5rem 4rem;
        border-radius: 5rem;
        transition: all .2s ease-in;
        position: relative;



    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 2rem 2rem rgba(0, 0, 0, .3);

        &::after {
            transform: scale(1.5);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, .7);
    }

    &--top {
        animation: inFromBottom 1s ease-in .7s;
        animation-fill-mode: backwards;
        backface-visibility: hidden;
    }

    &--white {
        background-color: #fff;
        color: #777;

        &::after {
            background-color: #fff;
        }

    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 5rem;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        transition: all 0.4s;

    }





}














@keyframes inFromBottom {

    0% {
        opacity: 0;
        transform: translateY(10rem);
    }



    100% {
        opacity: 1;
        transform: translateX(0);
    }

}

@keyframes inFromLeft {

    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(2rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }

}

@keyframes inFromRight {

    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-2rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }

}