.profile {
    height: 70vh;
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 90vh);
    display: flex;

    &-box {
        width: 33%;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
}



.skills {
    height: 95vh;
    background-image: linear-gradient(to bottom right, rgba(78, 178, 255, 0.713), rgba(85, 0, 255, 0.489));
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 9%, 100% 80%, 0 100%);
    display: flex;

    &-box {
        width: 33%;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
}



.content {
    height: 75vh;

    display: flex;

    &-box {
        width: 33%;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
}