.footer {
    height: 20rem;
    background-color: $color-dark-footer;
    width: 100vw;

    &-box {
        @include centeredContainer;
        text-align: left;
        padding-bottom: 3rem;
        padding-top: 3rem;
        color: rgb(131, 115, 115);
        display: flex;

    }

    &-item {
        display: inline-block;
        padding-right: 3rem;
        color: rgb(131, 115, 115);
    }

    &__copyright {
        color: gray;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.3rem;
        text-align: center;
        padding-top: 5rem;
        padding-bottom: 0px;
    }

}