.header {
    height: 95vh;
    background-image:
        linear-gradient(to right bottom, rgba(115, 117, 131, 0.442), rgba(42, 14, 127, 0.401)),
        url("grassyhill.jpg");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 90vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__logo-box {
        position: absolute;
        top: 3rem;
        left: 3rem;
    }

    &__logo {
        height: 9rem;
    }

    &__name {
        display: block;
        font-family: "Lobster", sans-serif;
        font-size: 6rem;
        animation: inFromLeft 1s ease-out;
        backface-visibility: hidden;

    }

    &__job {
        display: block;
        font-size: 4rem;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 700;
        animation: inFromRight 1s ease-out;
        backface-visibility: hidden;
        animation-fill-mode: backwards;
    }

    &__self-box {
        height: 25vh
    }

    &__selfie {
        height: 100%;
    }

    &__intro {
        height: 25vh;
    }
}