.header {
    height: 95vh;
    @include heroPic;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__logo-box {
        position: absolute;
        top: 3rem;
        left: 3rem;
    }

    &__logo {
        height: 9rem;
    }

    &__name {
        display: block;
        font-family: "Lobster", sans-serif;
        font-size: 6rem;
        animation: inFromLeft 1s ease-out;
        backface-visibility: hidden;
        @include textGradient;
    }

    &__job {
        display: block;
        font-size: 4rem;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 700;
        animation: inFromRight 1s ease-out;
        backface-visibility: hidden;
        animation-fill-mode: backwards;
    }

    &__self-box {
        height: 25vh
    }

    &__selfie {
        height: 100%;
    }

    &__intro {
        height: 25vh;
    }
}