.header {
    height: 125vh;
    @include heroPic;
    @include clipBottom;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    &__logo-box {
        position: absolute;
        top: 5rem;
        left: 5rem;
    }

    &__logo {
        height: 6rem;
    }

    &__name {
        display: block;
        font-family: "Lobster", sans-serif;
        font-size: 12rem;
        animation: inFromLeft 1s ease-out;
        backface-visibility: hidden;
        @include textGradient;
    }

    &__job {
        display: block;
        font-size: 5rem;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 700;
        animation: inFromRight 1s ease-out;
        backface-visibility: hidden;
        animation-fill-mode: backwards;
    }

    &__self-box {
        height: 20rem;

    }

    &__selfie {
        height: 100%;

    }

    &__intro {
        height: 25vh;

    }
}