.feature-box {
    background-color: $color-white-card;
    font-size: 1.3rem;
    padding: 3.5rem;
    text-align: center;
    border-radius: .3rem;



    box-shadow: 0 3.5 4rem rgba(0, 0, 0, 0.674);
    transition: all .3s;

    &__icon {
        max-height: 4rem;
    }

    &__text {
        &--heading {
            font-size: 2.4rem;
        }
    }

    &:hover {

        transform: scale(1.13);
    }
}