.u-center-text {
    text-align: center;
}

.u-display-flex {
    display: flex;
}

// MARGIN TOP //

.u-margin-top-sm {
    margin-top: 2rem;
}

.u-margin-top-md {
    margin-top: 5rem;
}

.u-margin-top-lg {
    margin-top: 8rem;
}

// MARGIN BOTTOM//

.u-margin-bottom-sm {
    margin-bottom: 2rem;
}

.u-margin-bottom-md {
    margin-bottom: 5rem;
}



.u-margin-bottom-lg {
    margin-bottom: 8rem;
}

.margin-sm {
    margin: 1rem;
}

.marginX-md {
    margin-left: 2rem;
    margin-right: 2rem;
}



.marginX-lg {
    margin-left: 5rem;
    margin-right: 5rem;
}