.profile {

    @include grayBackground;
    width: 100vw;

    z-index: 0;

    &-box {
        text-align: left;
    }

    h2 {
        width: 100%;

    }

    p {
        width: 100%;

    }
}


.skills {
    position: relative;
    @include greenBackground;

    @include clipTop;
    display: block;
    z-index: 0;
    width: 100vw;
    padding: 33rem 0;

    &-box {
        @include centeredContainer;


    }
}

.content {
    position: relative;
    @include grayBackground;
    min-height: 100vh;
    margin-right: 10rem;
    display: block;
    z-index: 0;
    width: 100vw;



    &-box {
        position: relative;
    }
}