.profile {
    height: 150vh;
    @include grayBackground;

    @include clearfix;

    &-box {
        text-align: left;
    }
}

.skills {

    @include greenBackground;
    height: 150vh;
    @include clipTop;

    &-box {
        @include centeredContainer;
    }
}

.content {
    display: flex;
    @include grayBackground;
    height: 100vh;


    &-box {
        @include centeredContainer;
    }
}