.profile {

    @include grayBackground;


    z-index: 0;

    &-box {
        text-align: left;
    }
}

.skills {
    position: relative;
    @include greenBackground;
    min-height: 120vh;
    @include clipTop;
    display: block;
    z-index: 0;

    &-box {
        @include centeredContainer;
    }
}

.content {
    position: relative;
    @include grayBackground;
    min-height: 100vh;
    margin-right: 10rem;
    display: block;
    z-index: 0;

    &-box {
        position: relative;
    }
}